# Name : Noha Mohamed Elblkasy

# Sec : 3

# Import pandas to create a dataframe

In [1]:
import pandas as pd

# read Dataset

In [2]:
df = pd.read_csv('Housing.csv')

# Visulize data

In [3]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

# Drop Unnecessary Data

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.drop(['mainroad','hotwaterheating','stories'],axis=1,inplace=True)

In [7]:
df.head()

,price,area,bedrooms,bathrooms,guestroom,basement,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,no,no,yes,3,no,furnished
2,12250000,9960,3,2,no,yes,no,2,yes,semi-furnished
3,12215000,7500,4,2,no,yes,yes,3,yes,furnished
4,11410000,7420,4,1,yes,yes,yes,2,no,furnished

# Digitelize the data

In [8]:
df['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [9]:
d1={'furnished':1,'semi-furnished':2,'unfurnished':3}
d2={'yes':0,'no':1}
df.replace(d1,inplace=True)
df.replace(d2,inplace=True)

In [10]:
df.head()

,price,area,bedrooms,bathrooms,guestroom,basement,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,1,1,0,2,0,1
1,12250000,8960,4,4,1,1,0,3,1,1
2,12250000,9960,3,2,1,0,1,2,0,2
3,12215000,7500,4,2,1,0,0,3,0,1
4,11410000,7420,4,1,0,0,0,2,1,1

# Split Data to training and testing

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x = df.drop('price',axis=1)
y = df['price']

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=50)

# Train the Model

In [14]:
from sklearn.tree import DecisionTreeRegressor

In [15]:
model = DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

# Test the Model

In [16]:
model.score(x_test,y_test)

0.41795401663835074

# This Model Not Sutable For this data